@model IQueryable<Product>
@{
    ViewData["Title"] = "Каталог товаров";
}

<h3 class="p-2 bg-secondary text-white text-center">@ViewData["Title"]</h3>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-1 font-weight-bold">Id</div>
        <div class="col font-weight-bold">Название</div>
        <div class="col font-weight-bold">Категория</div>
        <div class="col font-weight-bold text-right">Цена</div>
        <div class="col font-weight-bold text-right">Цена (розн.)</div>
        <div class="col"></div>
    </div>
    <div>
        @*<div class="row placeholder">
                <div class="col text-center p-2">Товаров в каталоге нет...</div>
            </div>*@
        @{
            var has_any_elements = false;
        }
        @foreach (var product in Model)
        {
            has_any_elements = true;
            <div class="row p-2">
                <div class="col-1">@product.Id</div>
                <div class="col">@product.Name</div>
                <div class="col">@product.Category</div>
                <div class="col text-right">@product.PurchasePrice</div>
                <div class="col text-right">@product.RetailPrice</div>
                <div class="col">
                    <form asp-action="Delete">
                        <a asp-action="UpdateProduct" asp-route-Id="@product.Id" class="btn btn-outline-primary">
                            <i class="fa fa-edit"></i>
                        </a>
                        <input type="hidden" name="Id" value="@product.Id" />
                        <button type="submit" class="btn btn-outline-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </div>
            </div>
        }
        @if (!has_any_elements)
        {
            <div class="row">
                <div class="col text-center p-2">Товаров в каталоге нет...</div>
            </div>
        }
    </div>
    <div class="text-center p-2">
        <a asp-action="UpdateProduct" class="btn btn-primary">Добавить</a>
    </div>
</div>

@*@section Styles
    {
        <style>
            .placeholder {
                visibility: collapse;
                display: none;
            }

            .placeholder:only-child {
                visibility: visible;
                display: flex;
            }
        </style>
    }*@