@model QueryResult
@{
    var page_count = Model.PagesCount;
    var Page = Model.Page;
    var has_previous_page = Model.HasPreviousPage;
    var has_next_page = Model.HasNextPage;
}
<form id="PageForm" method="get" class="form-inline d-inline-block">
    <button name="@nameof(QueryOptions.Page)" 
            value="@(Page - 1)" 
            class="btn btn-outline-primary @(has_previous_page ? null : "disabled")" 
            type="submit" 
            @(has_previous_page ? null : "disabled")>
        <i class="fa fa-arrow-left"></i>
    </button>

    @for (var i = 0; i < 3 && i < page_count - 1; i++)
    {
        <button name="@nameof(QueryOptions.Page)" 
                value="@i" 
                class="btn btn-outline-primary @(Page == i ? "active" : null)" 
                type="submit">
            @(i + 1)
        </button>
    }
    @if (Page >= 3 && page_count - Page > 3)
    {
        if (Page > 3)
        {
            @:...
        }
        <button name="@nameof(QueryOptions.Page)" 
                value="@Page" 
                class="btn btn-outline-primary active" 
                type="submit">
            @(Page + 1)
        </button>
    }
    @if (page_count > 4)
    {
        @:...
        @for (var i = Math.Max(4, page_count - 3); i < page_count; i++)
        {
            <button name="@nameof(QueryOptions.Page)" 
                    value="@i" class="btn btn-outline-primary @(Page == i ? "active" : null)"
                    type="submit">
                @(i + 1)
            </button>
        }
    }

    <button name="@nameof(QueryOptions.Page)" 
            value="@(Page + 1)" class="btn btn-outline-primary @(has_next_page ? null : "disabled")" 
            type="submit" 
            @(has_next_page ? null : "disabled")>
        <i class="fa fa-arrow-right"></i>
    </button>

    <select name="@nameof(QueryOptions.Size)" class="form-control ml-1 mr-1">
        @foreach (var page_size in new int[] { 10, 25, 50, 100 })
        {
            <option value="@page_size" selected="@(Model.PageSize == page_size)">@page_size</option>
        }
    </select>
    <input type="hidden" name="@nameof(QueryOptions.Page)" value="0" />
    <button type="submit" class="btn btn-secondary">Изменить размер страницы</button>
</form>