@model IEnumerable<Order>
@{
    ViewData["Title"] = "Заказы";
}

<h3 class="p-2 bg-primary text-white text-center">@ViewData["Title"]</h3>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-1 font-weight-bold">Id</div>
        <div class="col font-weight-bold">Заказчик</div>
        <div class="col font-weight-bold">Индекс</div>
        <div class="col font-weight-bold">Сумма</div>
        <div class="col font-weight-bold">Прибыль</div>
        <div class="col-1 font-weight-bold">Статус</div>
        <div class="col-3 font-weight-bold"></div>
    </div>
    <div>
        @{ var exist = false; }
        @foreach (var order in Model)
        {
            exist = true;
            <div class="row p-2">
                <div class="col-1">@order.Id</div>
                <div class="col">@order.CustomerName</div>
                <div class="col">@order.ZipCode</div>
                <div class="col">@order.Lines.Sum(l => l.Quantity * l.Product.RetailPrice)</div>
                <div class="col">@order.Lines.Sum(l => l.Quantity * (l.Product.RetailPrice - l.Product.PurchasePrice))</div>
                <div class="col-1">@(order.Shipped ? "Отправлен" : "Формируется...")</div>
                <div class="col-3">
                    <form asp-action="Delete">
                        <input type="hidden" name="Id" value="@order.Id"/>
                        <a asp-action="Edit" asp-route-Id="@order.Id" class="btn btn-outline-primary">
                            <i class="fa fa-edit"></i>
                        </a>
                        <button type="submit" class="btn btn-outline-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </div>
            </div>
        }
        @if (!exist)
        {
           
        }
        <div class="row empty-placeholder p-2">
            <div class="col-12 text-center">
                <h5>Заказов нет</h5>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <a asp-action="Edit" class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Создать
    </a>
</div>